<!DOCTYPE html>
<html>
  <head>
    <title>Recoil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.tiny.cloud/1/9b6mfmuccryl2mveoztzqxr33lsjdsagxye6b8lfhkdfpf3m/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    </head>

  <body>
    <%= render 'layouts/alert' %>
    <%= yield %>
  </body>
</html>
